h1 {color: blueviolet; }
#saveiro e saveiro{width: 50%;}
#saveiro e saveiro {margin-left: 20%;}
#cross {width: 40%;}
h2 {color: aquamarine;}
h2 {font-size: 300%;}
h1{font-size: 300%;}
h1 {text-align: center;}
h5 {font-size: 400%;}
